
Assembly-CSharp-Editor.csproj

Assembly-CSharp.csproj

Library/*

Temp/*

obj/*

Assets/VSCode.meta

Assets/VSCode/*

Autoya.sln

Assets/DummyScene.unity

Assets/DummyScene.unity.meta

miyamasu_test.log

test.log

iOS/*
Assets/framework/*
Assets/framework.meta

.vscode/*

Assets/Autoya/Libs/BouncyCastle.dll

Assets/Signer.cs

framework/token.autoya

AutoyaFilePersistTestsFileDomain/persist.txt

Assets/gmcs.rsp

Assets/gmcs.rsp.meta

Assembly-CSharp-Editor-firstpass.csproj

Assembly-CSharp-firstpass.csproj


Assets/SignerLibs/*

Assets/StreamingAssets/build_info.txt
CHANGELOG.md
.DS_Store
InformationViewer.app/*
default.profraw
Assets/StreamingAssets/build_info.txt.meta
Assets/SimpleAndroidNotifications/*
Assets/SimpleAndroidNotifications.meta
Assets/InformationResources/Resources/Views/MyView/*
Assets/InformationResources/Resources/Views/MyView.meta
PC.app/*
