
Assembly-CSharp-Editor.csproj

Assembly-CSharp.csproj

Library/*

Temp/*

obj/*

Assets/VSCode.meta

Assets/VSCode/*

Autoya.sln

Assets/DummyScene.unity

Assets/DummyScene.unity.meta

miyamasu_test.log

test.log

iOS/*
Assets/framework/*
Assets/framework.meta

.vscode/*
