<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity3d.player"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0">
    <application>
        <activity android:name="com.example.urlschemeplugin.URLSchemePlugin">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- この部分に直書きになるの本当にダサいと思う、アプリ側で編集する箇所がUnityから乖離している。Xcodeならあそこに書く、とかが定番なのに、Androidはそうなってない。なんとか逃げ場がないものか。 -->
                <data android:scheme="autoyascheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>