*.psess
*.suo
*.swp
*.user
*.userprefs
*.vsp

*.nupkg

Backup/
bin/
dist/
doc/
obj/

_Resharper.*/
_Resharper*/
*.ide/
packages/
.vs/

*.nuget.cache
*.nuget.props
*.nuget.targets
*.nuget.dgspec.json
*.project.lock.json
project.lock.json
